doctype html
html
  head
    title= "Live-Untertitelung"
    link(rel='stylesheet', href='../stylesheets/captioning.css')
    link(rel='stylesheet', href='../stylesheets/fontawesome/css/all.css')
  body
    div.controls
      button.qrcode(title="QR-Code anzeigen" aria-label="QR-Code anzeigen")
        i.fas.fa-qrcode
      button.fullscreen(title="Vollbild umschalten" aria-label="Vollbild umschalten")
        i.fas.fa-expand
    div.area
    script(src="../javascripts/session-client.js") 
    script(defer src="../javascripts/caption.js")
    script(src="../javascripts/qrcode.min.js")
    dialog#qrcode-dialog
      div.container
        div#qrcode-message
          text Live mitlesen
        div#qrcode-link
        div#qrcode-element
        button#qrcode-confim(onclick="closeQRCodeDialog()") Schließen
    dialog#error-dialog
      div.container
        div#error-dialog-message
        button#error-dialog-confirm(onclick="closeErrorDialog()") Schließen
    dialog#language-select-dialog 
      div.container
        label(for="language-select-dialog") Sprache auswählen
        div#language-buttons
          button#german(onclick="setupSpeechRecognition('de-DE')") Deutsch
          button#english(onclick="setupSpeechRecognition('en-GB')") English
        div#language-custom
          input#language-select-input(placeholder="xx-YY Sprachcode")
          button#custom(onclick="selectCustomLanguage()") Andere Sprache auswählen
        