extends layout

block content
  header
    h1 Decker Live-Untertitelung
  main 
    text Willkommen zur Decker-Liveuntertitelung. Dieser kostenlose Dienst erlaubt es mithilfe eines Browsers mit Unterstützung für Spracherkennung Live während Ihrer Veranstaltung Untertitel zu erstellen, die Teilnehmer mit Hörschwierigkeiten entweder auf einem separaten Bildschirm oder auf ihrem mitgebrachten Mobilgerät verfolgen können.
