doctype html
html
  head
    title Live-Untertitelung
    link(rel='stylesheet', href='./stylesheets/style.css')
    link(rel='stylesheet', href='./stylesheets/fontawesome/css/all.css')
    script(src="./javascripts/index.js") 
  body 
    header
      div.logos
        a#tu-logo(href="https://tu-dortmund.de")
          img(src="/images/tu-dortmund-logo.png", alt="", srcset="")
        a#hylec-logo(href="https://hylec.tu-dortmund.de")
          img(src="/images/hylec-logo.png", alt="", srcset="")
        a#inf-logo(href="https://cs.tu-dortmund.de")
          img(src="/images/inf-logo.svg", alt="", srcset="" style="max-width: 128px; max-height: 64px;")
      h1 Live-Untertitelung
    main
      div
        p
          | Willkommen zur Live-Untertitelung.
          | Dieser kostenlose Dienst erlaubt es mithilfe eines Browsers der Spracherkennung unterstützt
          | Untertitel für Ihre Veranstaltung live zu erstellen und zu teilen.
        p Teilnehmer/-innen mit Hörschwierigkeiten können die Untertitel 
          | entweder auf einer separaten Präsentationsfläche oder auf ihrem mitgebrachten Mobilgerät verfolgen.
      div.columns 
        div.column
          span.huge.fas.fa-desktop(title="Desktop Symbol" aria-label="Desktop Symbol" aria-hidden="true")
          span.sr-only Desktop Symbol
          p 
            | Als Vortragende/-r können Sie hier einfach eine neue Spracherkennungssitzung eröffnen.
            | Sie können im Aufnahmefenster auf das 
            span.fas.fa-qrcode(title="QR-Code" aria-hidden="true")
            span.sr-only QR-Code
            | -Symbol klicken, um Ihre Live-Untertitelung per QR-Code mit Ihren Zuhörer/-innen zu teilen. Sie müssen die Aufnahmewebseite offen lassen, können sie aber getrost im Hintergrund laufen lassen, wenn Sie nur das Mitlesen auf Mobilgeräten ermöglichen möchten.
          div 
            a.button-like(href="./host") Eine neue Sitzung eröffnen
        div.column
          span.huge.fas.fa-mobile(title="Mobilgerät Symbol" aria-label="Mobilgerät Symbol" aria-hidden="true")
          span.sr-only Mobilgerät Symbol
          p Als Zuhörer/-in können Sie einfach mit Ihrem Mobilgerät den präsentierten QR-Code einscannen und an der Sitzung teilnehmen. Alternativ können Sie hier auch nur die ID der Sitzung eingeben und ihr beitreten.
          div.join
            input#session-id(placeholder="Sitzungs ID")
            button#join-button(onclick="join()") Sitzung beitreten
            
