doctype html
html
  head
    title= "Listening to " + session_id
    link(rel='stylesheet', href='../stylesheets/captioning.css')
    link(rel='stylesheet', href='../stylesheets/fontawesome/css/all.css')
  body
    div.controls
      button.fullscreen(title="Vollbild umschalten" aria-label="Vollbild umschalten")
        i.fas.fa-expand
    div.area
    script(src="../javascripts/session-client.js") 
    script(src="../javascripts/listen.js")