doctype html
html
  head
    title= "Listening to " + session_id
    link(rel='stylesheet', href='/stylesheets/listen.css')
    link(rel='stylesheet', href='/stylesheets/fontawesome/css/all.css')
  body
    div(class="area")
    button(class="fullscreen")
        i(class="fas fa-expand")
    script(src="/javascripts/session-client.js") 
    script(src="/javascripts/listen.js")