html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #1f1f1f;
  color: #dfdfdf;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin: auto;
}

main {
  max-width: 60em;
  margin: auto;
}

a {
  color: #00B7FF;
}
